{% set notNavbar = true %}

{% extends 'base.html.twig' %}

{% block title 'Login To Your Account | ' ~ parent() %}

{% block stylesheets %}

{{ parent() }}

<style>

	.nk-app-root {
		background-image: url("{{ asset('assets/images/bg-login.svg') }}");
		background-position: center;
		background-size: cover;
	}

</style>

{% endblock %}

{% block body %}
<div class="nk-app-root">
	<!-- main @s -->
	<div class="nk-main ">
		<!-- wrap @s -->
		<div class="nk-wrap nk-wrap-nosidebar">
			<!-- content @s -->
			<div class="nk-content ">
				<div class="nk-block nk-block-middle nk-auth-body  wide-xs">
					<div class="brand-logo pb-4 text-center">
						<a href="{{ path('app_home') }}" class="logo-link">
							<img class="logo-img logo-img-lg" src="{{ __settings.logoName }}" alt="">
						</a>
					</div>
					<div class="card card-bordered">
						{{ include('partials/security/_login.html.twig') }}
					</div>
				</div>
			</div>
			<!-- wrap @e -->
		</div>
		<!-- content @e -->
	</div>
	<!-- main @e -->
</div>
{% endblock %}