{% extends 'base.html.twig' %}

{% block title 'Admin-Dashboard | ' ~ APP_NAME  %}

{% block body %}
    {% set in_admin = true %}
    <div class="nk-content">
        <div class="container wide-xl">
            <div class="nk-content-inner">
                {{ include('partials/_sidebar.html.twig') }}
                <div class="nk-content-body">
                    <div class="nk-content-wrap">
                        <div class="nk-block-head nk-block-head-sm">
                            <div class="nk-block-between">
                                <div class="nk-block-head-content">
                                    <h3 class="nk-block-title page-title">Overview</h3>
                                    <div class="nk-block-des text-soft">
                                        <p>Welcome to your admin panel in {{ APP_NAME }}</p>
                                    </div>
                                </div><!-- .nk-block-head-content -->
                            </div><!-- .nk-block-between -->
                        </div><!-- .nk-block-head -->
                        <div class="nk-block">
                            <div class="row g-gs">
                                <div class="col-12">
                                    <div class="card card-bordered card-full">
                                        <div class="card-inner">
                                            <div class="card-title-group">
                                                <div class="card-title">
                                                    <h6 class="title">
                                                        <span class="mr-2">Latest registered users</span>
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-inner p-0 border-top">
                                            <div class="nk-tb-list nk-tb-orders">
                                                <div class="nk-tb-item nk-tb-head">
                                                    <div class="nk-tb-col"><span>User No.</span></div>
                                                    <div class="nk-tb-col tb-col-sm"><span>Full Name</span></div>
                                                    <div class="nk-tb-col tb-col-md"><span>Joined At</span></div>
                                                    <div class="nk-tb-col tb-col-lg"><span>Verified</span></div>
                                                    <div class="nk-tb-col"><span>email</span></div>
                                                    <div class="nk-tb-col"><span>&nbsp;</span></div>
                                                </div>
                                                {% for user in latestUsers %}
                                                    <div class="nk-tb-item">
                                                        <div class="nk-tb-col">
                                                            <span class="tb-lead"><a href="{{ path('app_admin_details_user', {'id': user.id}) }}">#{{ user.id }}</a></span>
                                                        </div>
                                                        <div class="nk-tb-col tb-col-sm">
                                                            <div class="user-card">
                                                                {% if user.imageName %}
                                                                    <img class="rounded-circle" src="{{ vich_uploader_asset(user, 'imageFile') | imagine_filter('profile_pic_min_table') }}" alt="">
                                                                {% else %}
                                                                    <div class="user-avatar user-avatar-sm bg-purple">
                                                                        <span>{{ user.firstTowLatterName }}</span>
                                                                    </div>
                                                                {% endif %}
                                                                <div class="user-name ml-3">
                                                                    <span class="tb-lead">{{ user.fullName(true) }}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="nk-tb-col tb-col-md">
                                                            <span class="tb-sub">{{ user.createdAt | date('m/d/Y') }}</span>
                                                        </div>
                                                        <div class="nk-tb-col tb-col-lg">
                                                            {% if user.isVerified %}
                                                                <span class="tb-sub badge badge-dot badge-success">Verified</span>
                                                            {% else %}
                                                                <span class="tb-sub badge badge-dot badge-danger">Not Verified</span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="nk-tb-col" style="word-break: break-all">
                                                            <span class="tb-sub tb-amount">{{ user.email }}</span>
                                                        </div>
                                                        <div class="nk-tb-col nk-tb-col-action">
                                                            <div class="dropdown">
                                                                <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-xs">
                                                                    <ul class="link-list-plain">
                                                                        <li><a href="{{ path('app_admin_details_user', {'id': user.id}) }}">View</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div><!-- .card -->
                                </div><!-- .col -->
                                <div class="col-lg-6">
                                    <div class="card card-bordered card-full">
                                        <div class="card-inner border-bottom">
                                            <div class="card-title-group">
                                                <div class="card-title">
                                                    <h6 class="title">Most Liked Posts</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="nk-activity is-scrollable h-325px">
                                            {% for post in posts %}
                                                <li class="nk-activity-item">
                                                    <div class="nk-activity-media user-avatar bg-success"><img src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('profile_pic_min_table') }}" alt=""></div>
                                                    <div class="nk-activity-data">
                                                        <div class="label">
                                                            <a href="{{ path('app_show_post', {'id': post.id, 'slug': post.slugify(post.title)}) }}">{{ post.title | u.truncate(40, '...') }}</a>
                                                        </div>
                                                        <span class="time">{{ post.getActiveUserLikes.count }} likes</span>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div><!-- .card -->
                                </div><!-- .col -->
                                <div class="col-lg-6">
                                    <div class="card card-bordered h-100">
                                        <div class="card-inner border-bottom">
                                            <div class="card-title-group">
                                                <div class="card-title">
                                                    <h6 class="title">Support Requests</h6>
                                                </div>
                                                <div class="card-tools">
                                                    <a href="{{ path('app_contact_us') }}" class="link">All Tickets</a>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="nk-support" style="max-height: 391px; overflow: auto">
                                            {% for contact in contactUs %}
                                                <li class="nk-support-item">
                                                    <div class="user-avatar bg-purple-dim">
                                                        <span>{{ contact.getTwoLettersName }}</span>
                                                    </div>
                                                    <div class="nk-support-content">
                                                        <div class="title">
                                                            <span>{{ contact.getFullName() }}</span>
                                                            {% if not contact.hasReplyContactUs %}
                                                                <span class="badge badge-dot badge-dot-xs badge-warning ml-1">Pending</span>
                                                            {% else %}
                                                                <span class="badge badge-dot badge-dot-xs badge-success ml-1">Responded</span>
                                                            {% endif %}
                                                        </div>
                                                        <p>{{ contact.description | u.truncate(40, '...') }}</p>
                                                        <span class="time">{{ date_difference(contact.createdAt) }}</span>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div><!-- .card -->
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .nk-block -->
                    </div>
                    <!-- footer @s -->
                    {{ include('partials/_footer.html.twig') }}
                    <!-- footer @e -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}
